
#table {
  height: 40vh;
  padding: 1em 1.5em;
}

#table-container {
  height: 85%;
  overflow-y: scroll;
  margin-top: 1em;
}

.table-heading h2 {
  margin: 0;
}

.table {
  overflow: scroll !important;
}

.count-label {
   line-height: 18px !important;
}