
@import '../../style/colors.scss';

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2em 3em;
  width: 100%;
}

.footer-col {
  margin-right: 3em;
}

.footer-text {
  margin: 0;
  color: gray;
  font-size: 14px;
}

.footer-link {
  color: $green;
  font-size: 14px;
  font-weight: 500;
  display: block;
}

.footer-link:hover {
  color: $green;
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 676px) {
  .footer { 
    max-width: 576px; 
    flex-direction: column;
    justify-content: center;
  }
  .footer-col {
    margin-left: 0;
    margin-top: 1em;
  }
}

@media (min-width: 768px) { 
  .footer { max-width: 768px; }
}

@media (min-width: 992px) { 
  .footer { max-width: 992px; }
}